<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackendEnterprisingsApp.Properties.Settings.bdEnterprisingAppConnectionString"
            connectionString="Data Source=JAFET\SQLEXPRESS;Initial Catalog=bdEnterprisingApp;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="BackendEnterprisingsApp.Properties.Settings.bdEnterprisingAppConnectionString1"
            connectionString="Data Source=Pereira\SQLEXPRESS09;Initial Catalog=bdEnterprisingApp;Persist Security Info=True;User ID=Pereira2002;Password=Pilder1972;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="BackendEnterprisingsApp.Properties.Settings.bdEnterprisingAppConnectionString2"
            connectionString="Data Source=JAFET\SQLEXPRESS;Initial Catalog=bdEnterprisingApp;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>